.header {
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 14px;
  font-weight: 500;
  &-right {
    text-align: right;
    &-access {
      margin-right: 20px;
      & mat-icon {
        font-size: 20px;
      }
    }
  }
  &-left {
    width: 115px;
  }
}
