<div class="container">
  <div class="row mt-4" *ngIf="city">
    <div class="col-12 mb-3 d-flex justify-content-between">
      <h2>Lugares que visitar en {{ city.name }}</h2>
      <button
        mat-flat-button
        color="primary"
        (click)="navigateToPlanner(city.id)"
        class="mb-3"
      >
        Planifica tu viaje
      </button>
    </div>
    <div class="col-6">
      <h3>Atracciones turísticas</h3>
      <ng-container *ngIf="city.attractions.length > 0">
        <ng-container *ngFor="let attraction of city.attractions">
          <div class="entity-container" (click)="addVoting(attraction.id, attraction.name)">
            <div class="entity-voting entity-voting-left">
              <span class="entity-voting-button">⭐</span>
            </div>
            <p class="entity">
              <span>{{ attraction.name }}</span
              ><span>{{ attraction.score }}⭐</span>
            </p>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="city.attractions.length === 0">
        <span
          >No se han encontrado atracciones turísticas para esta ciudad.</span
        >
      </ng-container>
    </div>
    <div class="col-6">
      <h3>Restaurantes</h3>
      <ng-container *ngIf="city.restaurants.length > 0">
        <ng-container *ngFor="let restaurant of city.restaurants">
          <div class="entity-container" (click)="addVoting(restaurant.id, restaurant.name)">
            <div class="entity-voting entity-voting-right">
              <span class="entity-voting-button">⭐</span>
            </div>
            <p class="entity">
              <span>{{ restaurant.name }}</span
              ><span>{{ restaurant.score }}⭐</span>
            </p>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="city.restaurants.length === 0">
        <span>No se han encontrado restaurantes para esta ciudad.</span>
      </ng-container>
    </div>
  </div>
</div>
