.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: min-content;
    padding: 4rem;
    border: 1px solid #a29d9d;
    border-radius: 0.5rem;
}

.error-message {
    font-size: 10px;
    color: red;
}