<section class="banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="left-banner-content">
          <div class="text-content">
            <h1>Planifica tu viaje</h1>
            <div class="white-border-button">
              <a routerLink="/travel-planner" data-id="best-offer-section"
                >Planificador</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-banner-content">
          <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="" /></a>
          </div>
          <h2>Avalon</h2>
          <span>Creative <em>HTML</em> Template</span>
          <div class="line-dec"></div>
          <p>
            “ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            et sem blandit, rhoncus ante a, varius libero. Cras elementum
            tincidunt ullamcorper. Sed vehic ula dictum tortor ut aliquet. ”
          </p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-rss"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-offer" id="best-offer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="best-offer-left-content">
          <div class="icon">
            <img src="assets/img/best-offer-icon.png" alt="" />
          </div>
          <h4>El mejor viaje para ti</h4>
        </div>
      </div>
      <div class="col-md-8">
        <div class="best-offer-right-content">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h2>Recomendaciones personalizadas<br /><em>de viajes</em></h2>
              <p>
                Con la aplicación de recomendación de viajes, podemos estudiar
                tus gustos y recomendarte destinos que casen con tus
                preferencias. <br /><br />Gracias a la
                <strong>Inteligencia Artificial</strong>, podemos ofrecerte un
                listado de localizaciones y atracciones turísticas que estamos
                seguros que disfrutarás. Nuestros estudios se apoyan en los
                siguientes datos:
              </p>
              <ul>
                <li>+ Atracciones turísiticas de las diferentes provincias</li>
                <li>+ 30 mejores restaurantes de cada provincia</li>
                <li>
                  + Cantidad de población para los que prefieren lugares menos
                  masificados
                </li>
                <li>
                  + Altura geográfica para los que le sienta mal el cambio de
                  alturas
                </li>
                <li>
                  + Partido político que gobierna para los que no quieren hacer
                  turismo en lugares que chocan con su ideología
                </li>
              </ul>
              <div class="pink-button">
                <a routerLink="/recommendations" data-id="events-section"
                  >Recomendador de viajes</a
                >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img src="assets/img/best-offer-image.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="events" id="events-section">
  <div class="content-wrapper">
    <div class="inner-container container-fluid">
      <div class="row">
        <!-- <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h2>Las provincias mejor valoradas</h2>
                    </div>
                </div> -->
        <div class="col-1"></div>
        <div class="col-md-10">
          <div class="projects-holder">
            <div class="event-list">
              <ul>
                <li
                  class="project-item first-child mix web"
                  *ngFor="let recommendation of recommendations; let i = index"
                >
                  <ul class="event-item web">
                    <li>
                      <div class="date">
                        <span>{{ i + 1 }}</span>
                      </div>
                    </li>
                    <li>
                      <h4>{{ recommendation.name }}</h4>
                    </li>
                    <li>
                      <div class="time">
                        <span>{{ recommendation.avg | number : "1.0-2" }}</span>
                      </div>
                    </li>
                    <li>
                      <div class="white-button">
                        <a [routerLink]="['/city', recommendation.id]"
                          >I am interested</a
                        >
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services" id="services-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div
          class="flip-container"
          ontouchstart="this.classList.toggle('hover');"
        >
          <div class="flipper first-service">
            <div class="front">
              <div class="icon">
                <img src="assets/img/heart-icon.png" alt="" />
              </div>
              <h4>Aliquam finibus est</h4>
            </div>
            <div class="back">
              <p>
                Donec malesuada eu est in mattis. Aenean velit eros, blandit et
                tortor non, viverra hendrerit velit. Maecenas ut orci nec velit
                convallis lobortis sit amet ut magna. Ut rhoncus suscipit arcu,
                sed facilisis risus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          class="flip-container"
          ontouchstart="this.classList.toggle('hover');"
        >
          <div class="flipper second-service">
            <div class="front">
              <div class="icon">
                <img src="assets/img/home-icon.png" alt="" />
              </div>
              <h4>Nullam sed turpis</h4>
            </div>
            <div class="back">
              <p>
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Maecenas vel diam porttitor,
                fermentum ante et, ornare elit. Morbi nec diam ex. Pellentesque
                habitant morbi tristique senectus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          class="flip-container"
          ontouchstart="this.classList.toggle('hover');"
        >
          <div class="flipper third-service">
            <div class="front">
              <div class="icon">
                <img src="assets/img/revision-icon.png" alt="" />
              </div>
              <h4>Sed in luctus</h4>
            </div>
            <div class="back">
              <p>
                Mauris congue ex eu enim suscipit, in suscipit est efficitur.
                Donec quis orci malesuada nunc lobortis aliquet et ut lacus. Sed
                erat magna, fringilla ac imperdiet in, pulvinar quis ante.
                Maecenas eleifend, sem vitae tristique.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          class="flip-container"
          ontouchstart="this.classList.toggle('hover');"
        >
          <div class="flipper fourth-service">
            <div class="front">
              <div class="icon">
                <img src="assets/img/chat-icon.png" alt="" />
              </div>
              <h4>Fusce congue ipsum</h4>
            </div>
            <div class="back">
              <p>
                Donec venenatis erat at leo dictum, at dictum eros volutpat.
                Phasellus in dui sed purus varius hendrerit. Duis ac enim ac
                orci efficitur condimentum vel eget purus. Sed vel massa nulla.
                Curabitur consequat sem ac velit sollicitudin ornare.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
